.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  font-size: xx-large;
  font-weight: 700;
}

.timer {
  display: flex;
  justify-content: space-between;
}

.timer > * ~ * {
  margin-left: 4rem;
}

.year {
  line-height: 1.5;
  font-size: 8rem;
  font-weight: 900;
}

.timer-box {
  background-color: #fa2314;
  border-radius: 1rem;
}

.timer-box__count {
  width: 7rem;
  height: 6rem;
  display: grid;
  place-items: center;
}

.timer-box__count > span {
  font-size: xx-large;
  font-weight: 700;
}

.timer-box__text {
  display: grid;
  place-items: center;
  background-color: #f55347;
  padding: 1rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 0 0 1rem 1rem;
}

.firewords-container {
  position: fixed;
  background-image: url('/tet.jpg');
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

